test/resources/schema.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- The <sys-sage> root tag -->
  <xs:element name="sys-sage">
    <xs:complexType>
      <xs:all>

        <!-- The component trees -->
        <xs:element name="Components">
          <xs:complexType>
            <xs:group ref="components"></xs:group>
          </xs:complexType>
        </xs:element>

        <xs:element name="Relations">
          <xs:complexType>
            <xs:group ref="relations"></xs:group>
          </xs:complexType>
        </xs:element>

      </xs:all>
    </xs:complexType>
  </xs:element>

  <!-- Each component can recursively contain more components -->
  <xs:group name="components">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="GenericComponent" type="component" />
        <xs:element name="HW_Thread" type="hw_thread" />
        <xs:element name="Core" type="core" />
        <xs:element name="Cache" type="cache" />
        <xs:element name="Subdivision" type="subdivision" />
        <xs:element name="NUMA" type="numa" />
        <xs:element name="Chip" type="chip" />
        <xs:element name="Memory" type="memory" />
        <xs:element name="Storage" type="storage" />
        <xs:element name="Node" type="node" />
        <xs:element name="QuantumBackend" type="quantum_backend" />
        <xs:element name="AtomSite" type="atom_site" />
        <xs:element name="Qubit" type="qubit" />
        <xs:element name="Topology" type="topology" />
        <xs:element name="Attribute" type="attribute" />
      </xs:choice>
    </xs:sequence>
  </xs:group>

  <!-- Attributes for components and data paths -->
  <xs:complexType name="attribute">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip" />
    </xs:sequence>
    <xs:attribute name="name" />
    <xs:attribute name="value" />
  </xs:complexType>

  <!-- Component base class -->
  <xs:complexType name="component">
    <xs:group ref="components"></xs:group>
    <xs:attribute name="id" type="xs:integer" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="addr" type="addr" />
    <xs:attribute name="count" type="xs:integer" />
  </xs:complexType>

  <!-- Topology component -->
  <xs:complexType name="topology">
    <xs:complexContent>
      <xs:extension base="component" />
    </xs:complexContent>
  </xs:complexType>

  <!-- Memory component -->
  <xs:complexType name="memory">
    <xs:complexContent>
      <xs:extension base="component">
        <xs:attribute name="size" type="xs:integer" />
        <xs:attribute name="is_volatile" type="xs:integer" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Cache component -->
  <xs:complexType name="cache">
    <xs:complexContent>
      <xs:extension base="component">
        <xs:attribute name="cache_type" type="xs:string" />
        <xs:attribute name="cache_size" type="xs:integer" />
        <xs:attribute name="cache_associativity_ways" type="xs:integer" />
        <xs:attribute name="cache_line_size" type="xs:integer" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Storage component -->
  <xs:complexType name="storage">
    <xs:complexContent>
      <xs:extension base="component">
        <xs:attribute name="size" type="xs:integer" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Chip component -->
  <xs:complexType name="chip">
    <xs:complexContent>
      <xs:extension base="component">
        <xs:attribute name="vendor" type="xs:string" />
        <xs:attribute name="model" type="xs:string" />
        <xs:attribute name="type" type="xs:integer" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Subdivision component -->
  <xs:complexType name="subdivision">
    <xs:complexContent>
      <xs:extension base="component">
        <xs:attribute name="subdivision_type" type="xs:integer" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- NUMA component -->
  <xs:complexType name="numa">
    <xs:complexContent>
      <xs:extension base="component">
        <xs:attribute name="size" type="xs:integer" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Node component -->
  <xs:complexType name="node">
    <xs:complexContent>
      <xs:extension base="component">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- None component -->
  <xs:complexType name="hw_thread">
    <xs:complexContent>
      <xs:extension base="component">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- None component -->
  <xs:complexType name="core">
    <xs:complexContent>
      <xs:extension base="component">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="quantum_backend">
    <xs:complexContent>
      <xs:extension base="component">
        <!-- TODO: maybe add num_gates? If so, it must be added back in QuantumBackend.hpp -->
        <xs:attribute name="num_qubits" type="xs:integer" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="atom_site">
    <xs:complexContent>
      <xs:extension base="component">
        <xs:attribute name="nRows" type="xs:integer" />
        <xs:attribute name="nColumns" type="xs:integer" />
        <xs:attribute name="nAods" type="xs:integer" />
        <xs:attribute name="nAodIntermediateLevels" type="xs:integer" />
        <xs:attribute name="nAodCoordinates" type="xs:integer" />
        <xs:attribute name="interQubitDistance" type="xs:double" />
        <xs:attribute name="interactionRadius" type="xs:double" />
        <xs:attribute name="blockingFactor" type="xs:double" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="qubit">
    <xs:complexContent>
      <xs:extension base="component">
        <xs:attribute name="q1_fidelity" type="xs:double" />
        <xs:attribute name="t1" type="xs:double" />
        <xs:attribute name="t2" type="xs:double" />
        <xs:attribute name="readout_fidelity" type="xs:double" />
        <xs:attribute name="readout_length" type="xs:double" />
        <xs:attribute name="frequency" type="xs:double" />
        <xs:attribute name="calibration_time" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- A memory address, e.g. 0xff0011234 -->
  <xs:simpleType name="addr">
    <xs:restriction base="xs:string">
      <xs:pattern value="0x[0-9a-fA-F]+"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:group name="relations">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <!-- note: RelationType::Any is not included, since it is also not included in src/xml_dump.cpp -->
        <xs:element name="Relation" type="relation" />
        <xs:element name="DataPath" type="data_path" />
        <xs:element name="QuantumGate" type="quantum_gate" />
        <xs:element name="CouplingMap" type="coupling_map" />
      </xs:choice>
    </xs:sequence>
  </xs:group>

  <!-- TODO: implement the missing classes -->

  <!-- TODO: make this extend the relation base class -->
  <xs:element name="data_path">
    <xs:complexType>
      <xs:choice>
        <xs:element name="datapath" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Attribute" type="attribute" minOccurs="0"
                maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="source" type="addr" />
            <xs:attribute name="target" type="addr" />
            <xs:attribute name="oriented" type="xs:integer" />
            <xs:attribute name="type" type="xs:integer" />
            <xs:attribute name="bw" type="xs:double" />
            <xs:attribute name="latency" type="xs:double" />
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>

</xs:schema>